@charset "UTF-8"; 

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --back-body: #FDF2F5; 
    --color-font: #933B56; 
    --back-header: #F07F9A - #D4758B ; 
    --back-footer: #DE7992 - #C36982;
    --border: #F1E6E8; 
    --card01: #FEFDFE;
    --card02: #FDF0F3; 
    --btn:#E35C7A - #F07D7F; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--back-body);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, #F07F9A, #D4758B);
    color: white;
    padding: 20px;
}

header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header p {
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.main-top {
    padding-bottom: 10px;
}

main h1 {
    color: var(--color-font);
    padding-bottom: 10px;
    text-align: center;
}

main p {
    line-height: 23px;
}

.p-info {
    background-color: var(--back-body);
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(222, 157, 167, 0.304);
}

.cards {
    width:90%;
    display:flex;
    flex-direction:column;
    gap:20px;
}

#card01 {
    background-color: var(--card01);
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.032);
}

#card01 h3 {
    color: var(--color-font);
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 20px;
}

form input {
    width: 80%;
    height: 30px;
    
}

form label {
    font-weight: bold;
}

#btn-calculate {
    width: 90%;
    color: white;
    background: linear-gradient(to right, #E35C7A, #F07D7F); 
    height: 30px;
    border-radius: 5px;
}

#card02 {
    width: 90%;
    padding: 15px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.037);
    border-radius: 7px;
    margin-top: 20px;
    background-color: #FDF4F6;
    text-align: center;
    
}

#title-card02 {
    text-align: left;
    border-bottom: 1px solid rgba(222, 157, 167, 0.269);
}

#btn-clear {
    width: 40%;
    height: 30px;
    color: #E35D79; 
    border-color:var(--back-header);
    border-radius: 5px;
    background-color: var(--back-body);
    margin-top: 10px;
    border: 1px solid lightpink;
}

#card02 h3 {
    color: var(--color-font);
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}

#card03 {
    width: 90%;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.027);
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(222, 157, 167, 0.304);
}

#card03 h3 {
    color: var(--color-font);
    padding-bottom: 10px;
}

footer {
    background: linear-gradient(to left,#C36982, #DE7992);
    width: 100%;
    padding: 10px;
    color: white;
    font-size: .9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }
}

@media (min-width: 601px) {
    .fa-solid.fa-bars {
        display: none;
    }
}

@media (min-width: 900px) {
    nav {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: flex-end;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
   }

   #card01, #card02 {
        width: 100%;
        margin: 0;
        height: 100%;
        border-radius: 0;
   }

   #card01 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: 1px solid rgba(222, 157, 167, 0.203);
   }

   #card02{
        margin-top: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #card02 h3 {
        padding-top: 0; 
    }

    .footer-info {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    
}